/* @media screen and (min-width: 1920px) {
    p {
        font-size: 20px;
    }
    a {
        font-size: 20px;
    }
} */
a {
    font-size: 20px;
}
/* navbar height 49px */
@media screen and (min-width: 574px) {
    div.nav-wrapper {
        height: 89px;
    }
}
@media screen and (min-width: 292px) and (max-width: 573px) {
    div.nav-wrapper {
        height: 138px;
    }
}
@media screen and (max-width: 291px) {
    div.nav-wrapper {
        height: 187px;
    }
}


body {
    margin: 0;
    font-family: Verdana,Geneva,sans-serif; 
    vertical-align: center;
    background: rgb(4, 0, 15);
    padding-bottom: 50px;
}

.video-size
{
  width: 100%;
  height: 400px;
}

img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.leftBox{
    margin-right: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.rightBox{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.vid{
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    /* object-fit: contain;
    margin: auto; */
}

.responsiveVid {
    max-width: 70%;
    height: auto;
    object-fit: scale-down;
}

.responsiveIcon {
    max-width: 1.5vw !important;
    height: auto !important;
    object-fit: scale-down;
    float: left;
    font-size: 36px;
    padding-right: 8px;
}

.header {
    color: rgb(234, 236, 255);
    text-align: center;
}

h1.header {
    margin:auto;
    font-size:41px;
}

h3.header{
    /*align-self:start;*/
    width:85%;
    height:auto;
    font-size: 35px;
    /* font-size: 2.5vw; */
    margin: auto;
    /* grid-row:auto; */
    align-content:center;
    text-align:center;
    padding-top: 80px;
    /* font-size: 50px; */
}

div.header{
    /* background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAqklEQVQYlXWQsQ3EIBAELyQlQUKiCAIo4Gpy6Eq2F5KrAFISuwU64APreNuvj290O7uUuMIMCzMsJFckrgilI3GF5OuWuILMsBC/PaBQOlo8IblC/AYzLEhyXdAeD3hhkJs/XylxRYsnQukgN5cGuYk9HgsmjVKopYaWGsyw8MLrM6mXF/4BVSGUfjmq3ztaS31b3xqTm/DCDz/Jr3m01L3xmkcH/ze2Dv4BSdrIYalHpKgAAAAASUVORK5CYII=
    ) repeat; */
    padding: 15px;
    height: 50px;
    background-image: conic-gradient(#300040,rgb(4, 0, 15),#300040,rgb(4, 0, 15),#300040);
 }

 
/* navbar links */
#navbar {
    overflow: hidden;
    background-image: linear-gradient(rgb(32, 32, 32),rgb(15, 15, 15));
}

#navbar a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;
}

#navbar a:hover {
    background-color: rgb(4, 0, 15);
    color: white;
}

#navbar a.active {
    background-color: rgb(4, 0, 15);
    color: white;
}

/* page content */
div.content {
    padding: 20px;
    width: 85%;
    /* background-color: rgb(44, 44, 44); */
    background-image: linear-gradient(rgb(36, 36, 36),rgb(0, 0, 0));
    align-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #300040
}

div.content1 {
    max-width: 1000px;
    padding: 20px;
    /* font-size: 2vw; */
    width: 80%;
    background-image: linear-gradient(to left,rgb(36, 36, 36),rgb(0, 0, 0));
    border: 3px 3px 12px;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #300040;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: auto;
}
div.content1a {
    max-width: 1000px;
    padding: 20px;
    /* font-size: 2vw; */
    width: 80%;
    background-image: linear-gradient(to left,rgb(36, 36, 36),rgb(0, 0, 0));
    border: 3px 3px 12px;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #300040;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 500px;
}
div.content2 {
    max-width: 1000px;
    padding: 20px;
    /* font-size: 2vw; */
    width: 80%;
    background-image: linear-gradient(to right,rgb(36, 36, 36),rgb(0, 0, 0));
    border: 3px 3px 12px;
    align-content: center;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #300040;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height: auto;
}

/* @media screen and (min-width: 220px) {
    .content2 {
    font-size: 12px;
} */

.half {
    left: 0%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content + body {
    padding-top: 60px;
}

.titlehead {
    padding: 16px;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}


p {
    color:  rgb(172, 172, 172);
    /* padding: 10px; */
    font-size: 20px;
    width: 95%;
    align-content: center;
    margin: auto;
} 


.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 88px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
  
/* Control the left side */
.left {
    left: 0;
}
  
  /* Control the right side */
.right {
    right: 0;
}
  
  /* If you want the content centered horizontally and vertically */
.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fullBox{
    padding-bottom: 20px;
    width:100%;
    height:auto;
    margin: 0 auto;
    /* grid-row:auto; */
    align-content:center;
    /* float:left; */
}

.responsive {
    max-width: 100%;
    height: auto;
    object-fit: scale-down;
    margin: auto;
    max-height: 100%;
    width: auto;
}