body {
    margin: 0;
    font-size: 28px;
    font-family: Georgia, serif;
    vertical-align: center;
    background: rgb(125, 200, 250);
    /* background-image: linear-gradient(rgb(125, 150, 243),rgb(160, 130, 220)); */
    /* url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAwklEQVQYlXWQoQ3DMBBFDYoc87YLWAozsHlimmmswmyQDf4YGSDgSNFJNg1pBsgSBelZJuXvvt499bj1HHXiqBNTyPBjxtYN7McMChlRJ37celZRJ6bnCwKRnUB2QnEHKGTQ84WoEysKuUKz+6D4gvX+BtkJ7aryY76u7YT1/sZuzgrP7lNhtXUDC1R8wWKAxaAeyLISr+ILdnNWsFXYuuFyFD9Z3c1ZoeKOa7HN0iq0fhQE/OWRp9qPax4J/i+2BP8C7xjGmVl6gscAAAAASUVORK5CYII=
    ) repeat; */
    padding-bottom: 50px;
}

.video-size
{
  width: 100%;
  height: 400px;
}

/* div {
    border:2px solid #000000;
} */

img {
    max-height: 100%;
    width: auto;
    object-fit: scale-down;
}

.header {
    background-color: rgb(171, 46, 202);
    padding: 15px;
    text-align: center;
}

h1.header {
    /* color: rgb(129, 21, 133) */
    /* color: linear-gradient(#70088a,rgb(7, 4, 0)); */
    /* background: black; */
    background-color: rgba(0,0,0,0); 
    /* background-image: linear-gradient(#4b461d,rgb(7, 4, 0)); */
}

h2.header {
    color: white
}

#navbar {
    overflow: hidden;
    background-image: linear-gradient(#a01040,rgb(171, 46, 202));
}

div.header{
    /* background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAqklEQVQYlXWQsQ3EIBAELyQlQUKiCAIo4Gpy6Eq2F5KrAFISuwU64APreNuvj290O7uUuMIMCzMsJFckrgilI3GF5OuWuILMsBC/PaBQOlo8IblC/AYzLEhyXdAeD3hhkJs/XylxRYsnQukgN5cGuYk9HgsmjVKopYaWGsyw8MLrM6mXF/4BVSGUfjmq3ztaS31b3xqTm/DCDz/Jr3m01L3xmkcH/ze2Dv4BSdrIYalHpKgAAAAASUVORK5CYII=
    ) repeat; */
    background-image: linear-gradient(rgb(7, 4, 0),#70692a);
 }

/* navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;

    transition: .5s;
}

#navbar a:hover {
    background-color: #f1f1f1;
    color: black;
}

#navbar a.active {
    background-color: #f1f1f1;
    color: black;
}

/* page content */
.content {
    max-width: 1000px;

    padding: 20px;
    font-size: 2vw;
    width: 80%;
    background-color: white;
    border: 3px 3px 12px;
    align-content: center;
    margin: auto;

    border-radius: 5px;

    box-shadow: 2px 2px 10px grey
}

.half {
    left: 0%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content + body {
    padding-top: 60px;
}

.titlehead {
    padding: 16px;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}


p {
    padding: 10px;
    /* font-size: 16vw; */
    width: 95%;
    align-content: center;
    margin: auto;
} 
@media screen and (min-width: 1920px) {
    p {
 font-size: 36px;
    }
}

.rotate {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: 88px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 50%;
    padding: 5px;
}
  
  /* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 150px;
    border-radius: 50%;
  } */